<h3> Contact </h3>

<p>
  We can be found at: <br />
  1 Fake Street<br />
  NotRealsVille, MA, 00000
</p>

<p> Please select a location for contact details. </p>

{{#link-to 'contact.boston' class='btn btn-default' }}Boston{{/link-to}}
{{#link-to 'contact.nyc' class='btn btn-default' }}New York{{/link-to}}
{{outlet}}
