<!-- contact -->
<h3> Contact Us </h3>

<p> Please select a location for contact details. </p>

{{#link-to 'contact.boston'}}Boston{{/link-to}}
{{#link-to 'contact.nyc'}}New York City{{/link-to}}

{{outlet}}
