<nav>
  {{#link-to 'application'}}Home{{/link-to}}
  {{#link-to 'about'}}About{{/link-to}}
  {{#link-to 'team'}}Team{{/link-to}}
  {{#link-to 'contact'}}Contact Us{{/link-to}}
</nav>

<h1> Welcome to Ember! </h1>

{{outlet}}
