<h1> Welcome to Ember! </h1>

<nav>
  {{#link-to 'application' class="btn btn-default"}}Home{{/link-to}}
  {{#link-to 'about' class="btn btn-default"}}About{{/link-to}}
  {{#link-to 'team' class="btn btn-default"}}Team{{/link-to}}
  {{#link-to 'contact' class="btn btn-default"}}Contact{{/link-to}}
</nav>

{{outlet}}

<!-- This is a good place for a header and nav bar
because its on every page
 -->
