<h3> Our Team </h3>

<p> Our team is composed of the best folks around. </p>

{{#link-to 'team.engineering' class='btn btn-default' }}Engineering{{/link-to}}
{{#link-to 'team.leadership' class='btn btn-default' }}Leadership{{/link-to}}

{{outlet}}
